<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <link rel="shorcket icon" type="x-icon" href="/img/logo2.png">
  <title>GO shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="public/img/favicon.ico">

  <!-- Template -->
  <link rel="stylesheet" href="/css/user/newpassword.css">
  <link rel="stylesheet" href="/css/forget.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body style="background-color: gray;">

  <main class="main">

    <div class="content">

      <div class="container-fluid pb-5">

        <div class="row justify-content-md-center">
          <div class="card-wrapper col-12 col-md-4 mt-5">

            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Reset Password</h4>
                    <form id="form" class="mx-1 mx-md-4" method="post" action="/user/resetpassword" onsubmit="return validatePassword()">

                      <div class="pass_show form-outline mb-4">
                        <label class="form-label" for="form1Example23">Password</label>
                        <input name="password" type="password" id="password" class="form-control form-control-lg" />
                        <div id="err1" style="color: red;"></div>
                      </div>
                      <div class="pass_show form-outline mb-4">
                        <label class="form-label" for="form1Example23">Confirm Password</label>
                        <input name="confirmpassword" type="password" id="confirmpassword"
                          class="form-control form-control-lg" />
                          <div id="err2" style="color: red;"></div>
                      </div>


                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-primary btn-lg">Update</button>
                      </div>

                    </form>
              </div>
            </div>

          </div>
        </div>



      </div>

    </div>
  </main>

  <script>
     function validatePassword() {
        const pass1 = document.getElementById('password').value;
        const pass2 = document.getElementById('confirmpassword').value;

        // Check if password is greater than 8 characters and does not contain spaces
        if (pass1.length < 8 || /\s/.test(pass1)) {
          document.getElementById('err1').innerHTML = 'Password must be at least 8 characters long and should not contain spaces.'
            return false;
        }

         // Check if passwords match
         if (pass1 !== pass2) {
          document.getElementById('err1').innerHTML = ''
          document.getElementById('err2').innerHTML = 'Passwords do not match.'
            return false;
        }

        // If validation passes, allow form submission
        return true;
    }
  </script>


  <script>
    setTimeout(function () {
      var alertDiv = document.getElementById('alert');
      if (alertDiv) {
        alertDiv.remove();
      }
    }, 5000);
  </script>

  <script src="/js/user/newpassword.js"></script>

  <script src="public/graindashboard/js/graindashboard.js"></script>
  <script src="public/graindashboard/js/graindashboard.vendor.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

</body>

</html>